* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    scroll-padding-top: 7vh;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav {
    position: sticky;
    top: 0;
    display: grid;
    height: 6vh;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(78, 76, 76);
    background: white;
    align-content: center;
}
.fa-solid {
    font-size: 1.5rem;
}
.hero {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 4rem 13rem 2rem;
}
.item img {
    height: 48vh;
    width: 90%;
}
.title, .content, .contant1 {
    text-align: center;
    margin: 1.4rem;
}
.title {
    font-size: 1.5rem;
    color: rgb(82, 81, 81);
}
.content, .contant1 {
    color: grey;
}
.center {
    text-align: center;
    margin: 5rem;
}
.center a {
    font-size: 1.1rem;
    padding: .8rem 1rem;
}
.arro {
    color: rgb(108, 107, 107);
}
a:hover {
    background-color: rgb(52, 49, 49);
    color: white;
}
#one {
    background: rgb(212, 212, 212);
}
.line {
    border: 1px solid rgb(200, 199, 199);
    margin: 0 13rem;
}
.about {
    display: grid;
    justify-content: center;
    margin: 5rem 0rem;
    align-content: center;
}
.ab-title {
    font-size: 2rem;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
    color: rgb(90, 90, 90);
}
.ab-title1 {
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    color: rgb(31, 30, 30);
    margin: 1rem 0rem ;
    font-size: 1.5rem;
}
.abt-dis {
    display: grid;
    justify-content: center;
    padding: 1rem 0;
    color: rgb(92, 91, 91);
    text-align: center;
}
.abt-dis1 {
    display: grid;
    justify-content: center;
    margin: .2rem 13rem 7rem;
    color: rgb(92, 91, 91);
    text-align: center;
    line-height: 1.4rem;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4rem 13rem 2rem;    
}
.f-tit {
    font-size: 1.4rem;
    color: rgb(19, 19, 19);
}
.itm1con {
    font-size: .8rem;
    margin: 1rem 0;
}
.imgfot {
    height: 6rem;
    padding-top: 1rem;
}
.mid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
}
.mid1 p, .mid2 p{
    margin-top: .5rem;
}
.mid1, .mid2 {
    display: grid;
    grid-template-columns: 20% 90%;
    align-items: end;
}
.mid1 img, .mid2 img {
    height: 4rem;
}
.btns {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
}
.btns p {
    background: rgb(66, 66, 66);
    margin: .1rem ;
    display: grid;
    text-align: center;
    height: 1.5rem;
    color: white;
    font-size: .9rem;
    padding: .3rem;
}
#btn1 {
    display: grid;
    align-self: top;
    align-items: center;
    height: 1.5rem;  
}



@media screen and (width<=576px) {
    .nav {
        justify-content: space-between;
        padding: 1rem;
        font-size: 1.5rem;
        color: rgb(45, 45, 45);
    }
    .fa-solid {
        font-size: 1.5rem;
    }
    .hero {
        grid-template-columns: auto;
        margin: 1rem 1rem;
    }
    .item img {
        height: 80vh;
        width: 100%;
    }
    .title {
        color: rgb(45, 45, 45);
    }
    .content {
        color: rgb(129, 129, 129);
    }
    .center a {
        font-size: 1.1rem;
        padding: .8rem .5rem;
    }
    .about {
        margin: 0;
    }
    .ab-title {
        color: rgb(45, 45, 45);
    }
    #abt-img {
        width: 95%;
        margin: 1rem;
    }
    .line {
        border: 1px solid rgb(200, 199, 199);
        margin: 2rem 1rem ;
    }
    .abt-dis1 {
        margin: .2rem 2rem 7rem;
    }
    .footer {
        grid-template-columns: auto;
        margin: 4rem 2rem;
        row-gap: 5rem;
    }
    .f-tit {
        color: black;
        text-align: center;
    }
    .itm1 {
        text-align: center;
    }
    .mid {
        justify-content: center;
    }
    .mid1, .mid2 {
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .btns {
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (width>576px) and (width<=768px) {
    .hero {
        margin: 1rem 2rem;
        grid-template-columns: auto auto;
        width: 95%;
    }
    .item img {
        height: 50vh;
        width: 90%;
    }
    .title {
        font-size: 1rem;
        color: black;
    }
    .content, .contant1 {
        font-size: .9rem;
    }
    .title, .content, .contant1 {
        margin: 1rem;
    }
    .mid {
        justify-content: center;
    }
    #abt-img {
        width: 95%;
        margin: 1rem;
    }
    .line {
        border: 1px solid rgb(200, 199, 199);
        margin: 2rem 1rem ;
    }
    .abt-dis1 {
        margin: .2rem 2rem 7rem;
    }
    .footer {
        grid-template-columns: auto;
        margin: 4rem 2rem;
        row-gap: 5rem;
    }
    .f-tit {
        color: black;
        text-align: center;
    }
    .itm1 {
        text-align: center;
    }
    .mid {
        justify-content: center;
    }
    .mid1, .mid2 {
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .btns {
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (width>768px) and (width<992px) {
    .hero {
        margin: 1rem 2rem;
        grid-template-columns: auto auto;
    }
    .item img {
        height: 70vh;
        width: 90%;
    }
    .abt-dis1 {
        margin: .2rem 2rem 7rem;
    }
    .footer {
        grid-template-columns: auto;
        margin: 4rem 2rem;
        row-gap: 5rem;
    }
    .f-tit {
        color: black;
        text-align: center;
    }
    .itm1 {
        text-align: center;
    }
    .mid {
        justify-content: center;
    }
    .mid1, .mid2 {
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
    .btns {
        grid-template-columns: auto auto auto auto;
    }
}